Final Deliverables/Source Codes/Node Red Flow.json
[{"id":"d850e492e3044863","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"7ba128f92cb2f93c","type":"ibmiot in","z":"d850e492e3044863","authentication":"apiKey","apiKey":"3aa861cfdcd065e6","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"GPS","eventType":"inarea","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":210,"y":100,"wires":[["57f5523407fdcb62"]]},{"id":"57f5523407fdcb62","type":"function","z":"d850e492e3044863","name":"","func":"var name= msg.payload.name\nvar lat = msg.payload.lat\nvar lon= msg.payload.lon\nglobal.set('latitude',lat)\nglobal.set('longitude',lon)\nglobal.set('name',name)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":100,"wires":[["42da19f674e13c7f","f3391b396447ae74"]]},{"id":"42da19f674e13c7f","type":"debug","z":"d850e492e3044863","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":100,"wires":[]},{"id":"f3391b396447ae74","type":"function","z":"d850e492e3044863","name":"","func":"msg.payload={\n    'name': global.get('name'),\n    'lat':global.get('latitude'),\n    'lon':global.get('longitude')\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":200,"wires":[["d714886437a5ebc7","a03e98cd9621494a"]]},{"id":"d714886437a5ebc7","type":"geofence","z":"d850e492e3044863","name":"Geofence","mode":"polyline","inside":"both","rad":0,"points":[{"latitude":9.520220571785195,"longitude":77.85229468398029},{"latitude":9.526780772766607,"longitude":77.85229468398029},{"latitude":9.526780772766607,"longitude":77.8601481919759},{"latitude":9.520220571785195,"longitude":77.8601481919759}],"centre":{},"floor":"","ceiling":"","worldmap":false,"outputs":1,"x":220,"y":280,"wires":[["a80a7a90c1b99169"]]},{"id":"544a1d1630343642","type":"switch","z":"d850e492e3044863","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":420,"wires":[["4577054a10e997a0","b6212e6951247470"],["6969e746d924e1d1"]]},{"id":"a80a7a90c1b99169","type":"function","z":"d850e492e3044863","name":"","func":"msg.payload=msg.location.inarea\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":280,"wires":[["9c72baed99b4c3a2"]]},{"id":"6969e746d924e1d1","type":"function","z":"d850e492e3044863","name":"","func":"var d = new Date();\nvar utc = d.getTime + (d.getTimezoneOffset()*60000);\nvar offset =5.5;\nnewDate = new Date(utc +(3600000*offset));\n\nmsg.payload={\n    \"message\":\"Exit\",\n    \"Time\":newDate.toLocaleString(),\n    \"name\":global.get('name'),\n    \"lat\":global.get('latitude'),\n    \"lon\":global.get('longitude')\n    \n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":520,"wires":[["b6045dc93305e8bd","474a3dc06e0db684"]]},{"id":"b6212e6951247470","type":"function","z":"d850e492e3044863","name":"","func":"var d = new Date();\nvar utc = d.getTime + (d.getTimezoneOffset()*60000);\nvar offset =5.5;\nnewDate = new Date(utc +(3600000*offset));\n\nmsg.payload={\n    \"message\":\"Entry\",\n    \"Time\":newDate.toLocaleString(),\n    \"name\":global.get('name'),\n    \"lat\":global.get('latitude'),\n    \"lon\":global.get('longitude')\n    \n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":440,"wires":[["474a3dc06e0db684"]]},{"id":"548ae8f65e7285fb","type":"http request","z":"d850e492e3044863","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=T72pzL9JVAB36tjCoh1sGrykbFcmESQgWDiunIaK5vedYRHZqPIhHeuUgFNZibrjTyWsCpPkcR2xE0z4&route=q&message=Test&language=english&flash=0&numbers=9025293036","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":850,"y":380,"wires":[["c1630b8ceccf77bc"]]},{"id":"62b1add61c3c29cf","type":"ui_toast","z":"d850e492e3044863","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"Dialog Box","x":850,"y":440,"wires":[[]]},{"id":"b6045dc93305e8bd","type":"cloudant out","z":"d850e492e3044863","name":"Child Info","cloudant":"5901f08837fcb0d2","database":"child","service":"node-red-kyevo-2022--cloudant-1668767545226-97413","payonly":false,"operation":"insert","x":840,"y":560,"wires":[]},{"id":"c1630b8ceccf77bc","type":"debug","z":"d850e492e3044863","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":300,"wires":[]},{"id":"9c72baed99b4c3a2","type":"rbe","z":"d850e492e3044863","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":630,"y":280,"wires":[["544a1d1630343642"]]},{"id":"4577054a10e997a0","type":"function","z":"d850e492e3044863","name":"","func":"msg.payload=\"Person not in that area\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":380,"wires":[["548ae8f65e7285fb","62b1add61c3c29cf","c1630b8ceccf77bc"]]},{"id":"474a3dc06e0db684","type":"debug","z":"d850e492e3044863","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":500,"wires":[]},{"id":"7dd7370af58d4740","type":"http response","z":"d850e492e3044863","name":"Sign Up Response","statusCode":"","headers":{},"x":830,"y":740,"wires":[]},{"id":"2502b1d622f88e92","type":"http in","z":"d850e492e3044863","name":"Sign Up Request","url":"/signup","method":"get","upload":false,"swaggerDoc":"","x":200,"y":740,"wires":[["c262c646b94439aa"]]},{"id":"c262c646b94439aa","type":"template","z":"d850e492e3044863","name":"Register Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n<link\n      rel=\"stylesheet\"\n      href=\"https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css\"\n      integrity=\"sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm\"\n      crossorigin=\"anonymous\"\n    />\n<script type=\"text/javascript\"\n        src=\"https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js\">\n</script>\n<script type=\"text/javascript\">\n   (function(){\n      emailjs.init(\"Wdf3GlKMQV7z9W1fV\");\n   })();\n</script>\n\n</head>\n\n\n\n<body>\n<style>\n @charset \"utf-8\";\n        @import url(http://weloveiconfonts.com/api/?family=fontawesome);\n\n        [class*=\"fontawesome-\"]:before {\n          font-family: 'FontAwesome', sans-serif;\n        }\n\n         body {\n          background: linear-gradient(319deg, #DDF161 0%, #DCFF90 50%, #08FF3D 100%);\n          color: white;\n          font: 87.5%/1.5em 'Open Sans', sans-serif;\n          margin: 0;\n        }\n\n        p {\n          line-height: 1.5em;\n        }\n\n        after { clear: both; }\n\n        .login {\n          margin: 80px auto;\n          width: 500px;\n        }\n\n        .login form {\n          margin: auto;\n          padding: 22px 2px 22px 22px;\n          width: 100%;\n          border-radius: 5px;\n          background: rgba(60, 44, 51, 0.60);\n          border-top: 3px solid #434a52;\n          border-bottom: 3px solid #434a52;\n        }\n\n        .login form span {\n          background-color: #363b41;\n          border-radius: 3px 0px 0px 3px;\n          border-right: 3px solid #434a52;\n          color: #606468;\n          display: block;\n          float: left;\n          line-height: 50px;\n          text-align: center;\n          width: 50px;\n          height: 50px;\n        }\n\n        .login form input[type=\"email\"] {\n          background-color: rgba(0, 0, 0, 0.57);\n          border-radius: 0px 3px 3px 0px;\n          color: #a9a9a9;\n          margin-bottom: 1em;\n          padding: 0 16px;\n          width: 90%;\n          height: 50px;\n        }\n\n        .login form input[type=\"password\"] {\n          background-color: rgba(0, 0, 0, 0.57);\n          border-radius: 0px 3px 3px 0px;\n          color: #a9a9a9;\n          margin-bottom: 1em;\n          padding: 0 16px;\n          width: 90%;\n          height: 50px;\n        }\n\n\t.login form input[type=\"text\"] {\n          background-color: rgba(0, 0, 0, 0.57);\n          border-radius: 0px 3px 3px 0px;\n          color: #a9a9a9;\n          margin-bottom: 1em;\n          padding: 0 16px;\n          width: 90%;\n          height: 50px;\n        }\n\n\t.login form input[type=\"tel\"] {\n          background-color: rgba(0, 0, 0, 0.57);\n        \n          border-radius: 0px 3px 3px 0px;\n          color: #a9a9a9;\n          margin-bottom: 1em;\n          padding: 0 16px;\n          width: 90%;\n          height: 50px;\n        }\n\n        .login form input[type=\"submit\"] {\n          background:  #70e1f5;\n          border: 0;\n          width: 100%;\n          height: 40px;\n          border-radius: 3px;\n          color: black;\n          cursor: pointer;\n          transition: background 0.3s ease-in-out;\n        }\n        #login form input[type=\"submit\"]:hover {\n          background-image:  linear-gradient(red, yellow);\n        }\n        .button{\n          background:  #A6F904;\n          border: 0;\n          width: 90%;\n          height: 40px;\n          border-radius: 3px;\n          color: black;\n          cursor: pointer;\n          transition: background 0.3s ease-in-out;\n         }\n    \n</style>\n<div class=\"login\">\n    \n    <form name='form-login' method=\"post\" action=\"signin\" onsubmit=\"return store()\" >  \n\n        <h1>Register</h1>\n        <p>Please fill in this form to create an account.</p>\n        <label for=\"uname\">Username</label>\n        <input type=\"text\" id=\"uname\" placeholder=\"Username\" required>\n        <label for=\"uname\">First Name</label>\n        <input type=\"text\" id=\"uname1\" placeholder=\"First Name\" required>\n        <label for=\"uname\">Last Name</label>\n        <input type=\"text\" id=\"uname2\" placeholder=\"Last Name\" required>\n        <label for=\"phno\">Phone Number</label>\n        <input type=\"tel\" id=\"phno\" placeholder=\"Phone Number\" required>\n        <label for=\"name\">Email ID</label>\n        <input type=\"email\" id=\"name\" placeholder=\"Email ID\" required>\n\n        <label for=\"pw\">Password</label>\n        <input type=\"password\"\n               id= \"pw\"\n               placeholder=\"Password\" required>\n        <label for=\"pw\">Confirm Password</label>\n        <input type=\"password\"\n               id= \"pw\"\n               placeholder=\"Confirm Password\" required>\n\n<!--     <ul class=\"helper-text\">\n            <li class=\"length\">Minimum 8 characters long.</li>\n            <li class=\"uppercase\">Must contain an uppercase letter.</li>\n            <li class=\"uppercase\">Must contain a number.</li>\n            <li class=\"uppercase\">Must contain a special character.</li>\n        </ul>-->\n        <button class=\"button\" type=\"submit\" onclick=\"return sendMail()\">Submit</button>\n        <br><p>\n       <p><a href=\"signin\">Already a user?</a></p>\n    </form>\n</div>\n\n<script>\nfunction store(){\n\n    var name = document.getElementById('name');\n    var pw = document.getElementById('pw');\n    var lowerCaseLetters = /[a-z]/g;\n    var upperCaseLetters = /[A-Z]/g;\n    var numbers = /[0-9]/g;\n\n    if(name.value.length == 0){\n        alert('Please fill in email');\n        return false;\n        \n\n    }else if(pw.value.length == 0){\n        alert('Please fill in password');\n        return false;\n\t\n\n    }else if(name.value.length == 0 && pw.value.length == 0){\n        alert('Please fill in email and password');\n        return false;\n\t\n\n    }else if(pw.value.length < 8){\n        alert('Password must contain minimum of 8 characters');\n        return false;\n\t\n\n    }else if(!pw.value.match(numbers)){\n        alert('Please add a number');\n        return false;\n\t\n\n    }else if(!pw.value.match(upperCaseLetters)){\n        alert('Please add a uppercase letter');\n\treturn false;\n\t\n\n    }else if(!pw.value.match(lowerCaseLetters)){\n        alert('Please add a lowercase letter');\n\treturn false;\n    \n    }else if(phno.value.length < 10){\n        alert('Phone number must contain 10 digits');\n        return false;\n\t\n\t\n\n    }else{\n        localStorage.setItem('name', name.value);\n        localStorage.setItem('pw', pw.value);\n        alert('Your account has been created');\n\treturn true;\n\t\t\n\t\n   }\n    \n \n}\n\n</script>\n<script>\n\nfunction sendMail() {\n  var params = {\n    name: document.getElementById(\"uname\").value,\n    email: document.getElementById(\"name\").value\n    \n  };\n\n  const serviceID = \"service_lgntxps\";\n  const templateID = \"template_l870c3f\";\n\n    emailjs.send(serviceID, templateID, params)\n    .then(res=>{\n        document.getElementById(\"name\").value = \"\";\n        document.getElementById(\"uname\").value = \"\";\n        \n        console.log(res);\n        alert(\"Mail sent successfully!!\");\n        \n\t\n\n    })\n    .catch(err=>console.log(err));\n}\n\n</script>\n\n</body>\n\n\n","output":"str","x":500,"y":800,"wires":[["7dd7370af58d4740"]]},{"id":"44575ed490dc5311","type":"http response","z":"d850e492e3044863","name":"Sign In Response","statusCode":"","headers":{},"x":850,"y":980,"wires":[]},{"id":"e8a3f06ba3f5872d","type":"http in","z":"d850e492e3044863","name":"Sign In Request","url":"/signin","method":"get","upload":false,"swaggerDoc":"","x":140,"y":980,"wires":[["e13728f6cff0df2d"]]},{"id":"e13728f6cff0df2d","type":"template","z":"d850e492e3044863","name":"Sign In Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<body>\n<style>\n @charset \"utf-8\";\n        @import url(http://weloveiconfonts.com/api/?family=fontawesome);\n\n        [class*=\"fontawesome-\"]:before {\n          font-family: 'FontAwesome', sans-serif;\n        }\n\n        body {\n          background: linear-gradient(319deg, #DDF161 0%, #DCFF90 50%, #08FF3D 100%);\n          color: white;\n          font: 87.5%/1.5em 'Open Sans', sans-serif;\n          margin: 0;\n        }\n\n        p {\n          line-height: 1.5em;\n        }\n\n        after { clear: both; }\n\n        .login {\n          margin: 300px auto;\n          width: 320px;\n        }\n\n        .login form {\n          margin: auto;\n          padding: 22px 2px 22px 22px;\n          width: 100%;\n          border-radius: 5px;\n          background: rgba(60, 44, 51, 0.45);\n          border-top: 3px solid #434a52;\n          border-bottom: 3px solid #434a52;\n        }\n\n        .login form span {\n          background-color: #363b41;\n          border-radius: 3px 0px 0px 3px;\n          border-right: 3px solid #434a52;\n          color: #606468;\n          display: block;\n          float: left;\n          line-height: 50px;\n          text-align: center;\n          width: 50px;\n          height: 50px;\n        }\n\n        .login form input[type=\"email\"] {\n          background-color: rgba(0, 0, 0, 0.57);\n          border-radius: 0px 3px 3px 0px;\n          color: #a9a9a9;\n          margin-bottom: 1em;\n          padding: 0 16px;\n          width: 90%;\n          height: 50px;\n        }\n\n        .login form input[type=\"password\"] {\n          background-color: rgba(0, 0, 0, 0.57);\n          border-radius: 0px 3px 3px 0px;\n          color: #a9a9a9;\n          margin-bottom: 1em;\n          padding: 0 16px;\n          width: 90%;\n          height: 50px;\n        }\n\n        .login form input[type=\"submit\"] {\n          background:  #70e1f5;\n          border: 0;\n          width: 100%;\n          height: 40px;\n          border-radius: 3px;\n          color: black;\n          cursor: pointer;\n          transition: background 0.3s ease-in-out;\n        }\n        #login form input[type=\"submit\"]:hover {\n          background:  linear-gradient(red, yellow);\n        }\n\t.button{\n          background:  #A6F904;\n          border: 0;\n          width: 90%;\n          height: 40px;\n          border-radius: 3px;\n          color: black;\n          cursor: pointer;\n          transition: background 0.3s ease-in-out;\n         }\n</style>\n<div class=\"login\">\n    <form name='form-login' action=\"home\" onsubmit=\"return check()\">\n\n        <h1>Log In</h1>\n\n        <label for=\"userName\">Email</label>\n        <input type=\"email\" id=\"userName\" placeholder=\"Username\" required>\n\n        <label for=\"userPw\">Password</label>\n        <input type=\"password\" id= \"userPw\" placeholder=\"Password\" required>\n\n        <div id=\"remember\">\n            <input type=\"checkbox\" value=\"lsRememberMe\" id=\"rememberMe\"\n                   style=\"display: inline-block;\">\n            <label>Keep Me Logged In</label>\n        </div>\n        <p>\n        <button id= \"login_btn\" class=\"button\" >Login</button>\n        \n        <p>\n        <button id= \"login_btn\" class=\"button\" >Forget Password ?</button>\n        <p><a href=\"signup\">Not an user yet?</a></p>\n    </form>\n</div>\n<script>\nfunction check(){\n    var storedName = localStorage.getItem('name');\n    var storedPw = localStorage.getItem('pw');\n\n    var userName = document.getElementById('userName');\n    var userPw = document.getElementById('userPw');\n    var userRemember = document.getElementById(\"rememberMe\");\n\n    if(userName.value == storedName && userPw.value == storedPw){\n        alert('You are logged in.');\n\treturn true;\n\t  \n    }else{\n        alert('Invalid Login.');\n\treturn false;\n    }\n   \n}\n</script>\n</body>\n","output":"str","x":490,"y":1040,"wires":[["44575ed490dc5311"]]},{"id":"6d55f76dc325a304","type":"http in","z":"d850e492e3044863","name":"Sign Up ","url":"/signup","method":"post","upload":true,"swaggerDoc":"","x":130,"y":860,"wires":[["d40ef172d5d54625"]]},{"id":"d40ef172d5d54625","type":"cloudant in","z":"d850e492e3044863","name":"Login Details","cloudant":"5901f08837fcb0d2","database":"credentials","service":"node-red-kyevo-2022--cloudant-1668767545226-97413","search":"_id_","design":"","index":"","x":370,"y":900,"wires":[["69ba988a696d2db2"]]},{"id":"69ba988a696d2db2","type":"template","z":"d850e492e3044863","name":"Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":580,"y":900,"wires":[["158920f4bef7c392"]]},{"id":"158920f4bef7c392","type":"http response","z":"d850e492e3044863","name":"Sign Up Response","statusCode":"","headers":{},"x":830,"y":860,"wires":[]},{"id":"7e87461d7b44200d","type":"http in","z":"d850e492e3044863","name":"Homepage Request","url":"home","method":"get","upload":false,"swaggerDoc":"","x":170,"y":1100,"wires":[["c969d6c4860d27da"]]},{"id":"c969d6c4860d27da","type":"template","z":"d850e492e3044863","name":"Homepage","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<body>\n  <center>\n  <div class=\"container-text\">\n  <h1>IoT Based Safety Gadget for Child Safety Monitoring & Notification</h1>\n</div>\n<form action=\"https://node-red-kyevo-2022-11-18.eu-gb.mybluemix.net/worldmap/\">\n\n  <button class=\"button\" type=\"submit\" formaction=\"https://node-red-kyevo-2022-11-18.eu-gb.mybluemix.net/worldmap/\">Track Your Child</button>\n</form>\n<form action=\"signin\">\n  <button class=\"button\" type=\"submit\" formaction=\"signin\">Traced Locations</button>\n</form>\n<form action=\"signin\">\n  <button class=\"button\" type=\"submit\" formaction=\"signin\">User Settings</button>\n</form>\n<form action=\"signin\">\n  <button class=\"button\" type=\"submit\" formaction=\"signin\">Logout</button>\n</form>\n\n</center>\n</body>\n\n<style>\n@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');\n.container-text {\n  display: flex;\n  justify-content: center;\n  align-items: center;\n  width: 100%;\n  height: 50vh;\n}\nbody{\nbackground: linear-gradient(319deg, #DDF161 0%, #DCFF90 50%, #08FF3D 100%);\n  overflow:scroll;\n  background-repeat:no-repeat;\n  background-size:cover;\n}\nh1 {\n  text-transform: capitalize;\n\tbackground-image: linear-gradient(to right top, #00D4BB, #1CA501);\n   background-size: 10% auto;\n\t-webkit-background-clip: text;\n\t-webkit-text-fill-color: transparent;\n  font-family: 'Poppins', sans-serif;\n  font-size: 5vw;\n  animation: gradientAnim 7.5s ease  alternate infinite;\n}\n.button{\n          background:  #A6F904;\n          border: 0;\n          width: 30%;\n          height: 40px;\n          border-radius: 3px;\n          color: black;\n          cursor: pointer;\n          transition: background 0.3s ease-in-out;\n        }\n\n\n@keyframes gradientAnim {\n  to {\n    background-position: 50% top;\n  }\n}\n</style>","output":"str","x":490,"y":1180,"wires":[["66be3ce2a0087b38"]]},{"id":"66be3ce2a0087b38","type":"http response","z":"d850e492e3044863","name":"Homepage Response","statusCode":"","headers":{},"x":820,"y":1100,"wires":[]},{"id":"70bfef701194bdec","type":"http in","z":"d850e492e3044863","name":"Sensor Request","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":220,"y":600,"wires":[["6742d084f69b7e58"]]},{"id":"6742d084f69b7e58","type":"function","z":"d850e492e3044863","name":"","func":"msg.payload={\n    'lat':global.get('latitude'),\n    'lon':global.get('longitude')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":680,"wires":[["8e6fad48f71de086"]]},{"id":"8e6fad48f71de086","type":"http response","z":"d850e492e3044863","name":"Status Msg","statusCode":"","headers":{},"x":810,"y":640,"wires":[]},{"id":"a03e98cd9621494a","type":"worldmap","z":"d850e492e3044863","name":"Map","lat":"9.5252922","lon":"77.8512481","zoom":"","layer":"OSMG","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","showruler":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":830,"y":200,"wires":[]},{"id":"3aa861cfdcd065e6","type":"ibmiot","name":"Child IOT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"5901f08837fcb0d2","type":"cloudant","host":"ef369e97-95b4-440a-a2f6-6577d39a5153-bluemix.cloudantnosqldb.appdomain.cloud","name":""}]